/* BUTTONS
====================================================
==================================================== */

.btn {
	color: #fff;
    font-weight: 600;
    // text-shadow: 1px 1px #333;
    background: lighten($button, 10%);
    border: 1px solid lighten($button, 10%);
    cursor: pointer;
    @include rounded(3px);

    &:hover {
        background: $buttonHover;
        border: 1px solid $buttonHover;
    }

    &:active { 
        // text-shadow: 1px 1px #666;
        background: lighten($buttonHover, 15%);
        border: 1px solid #fff;
    }
}

.btn_tiny {
    padding: 5px 8px;
    font-size: em(8);
}

.btn_small {
    padding: 7px 10px;
    height: 30px;
    font-size: em(12);
    line-height: 10px;
}

.btn_med {
    padding: 9px 15px;
    height: 36px;
    line-height: 10px;
}

.btn_add_account { float: left; }

.btn_send_now {
    float: left;
    margin-top: 15px;
}