/* COLORS
====================================================
==================================================== */

$error: #d23939;
$green: #249B7A;
$americanGreen: #218757;
$blue: #024562;
$orange: #FC913A;
$red: #F25A43;
$magenta: #94486E;
$cream: #E08E79;
$brown: #774F38;
$purple: #8B0991;
$gray: #535E5E;
$dgray: #25282f;
$lgray: #3b404a;

$body: #eee;

$primaryColor: 
	$blue;

$secondaryColor:
	$blue;

$btc: lighten($orange, 1%);

$sidebar: $primaryColor;
$sidebarHover: lighten($sidebar, 5%);
$sidebarActive: darken($sidebar, 8%);

$button: $secondaryColor;
$buttonHover: lighten($secondaryColor, 15%);
$buttonActive: lighten($secondaryColor, 15%);
