/* COLORS
====================================================
==================================================== */

$error: #d23939;
$orange: #F58A67;
$green: darken(#9AC06E, 10%);
$blue: #0076FF;
$red: #EA5166;
$gray: #535E5E;

$sidebar: #616668;
$sidebarActive: darken($sidebar, 12%);