/* INPUTS, SELECTS, CHECKBOXES, RADIOS
====================================================
==================================================== */

// removes chrome input highlight
*:focus { outline: 0; }

// Select type of account
select#account_type {
	position: relative;
	float: left;
	overflow: hidden;
	margin-right: 10px;
	padding: 6px 0px;
	width: 194px;
	line-height: 21px;
	text-overflow: ellipsis;
	text-indent: 10px;
	color: #555;
	font-size: inherit;
	white-space: nowrap;
	background: transparent;
	border: 1px solid #ccc;
	cursor: pointer;
	z-index: 2;
	// @include rounded(4px);
	// background-image: url(../img/select_arrow.png), -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
	// background-position: 93% center;
	// background-repeat: no-repeat;

	-webkit-appearance: button;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 20px;
	-webkit-padding-start: 4px;
	-webkit-user-select: none;
}

// Account / Address forms
.form-input {
    float: left;
    margin: 0 10px 5px 0;
    padding: 6px 10px;
    background: #eee;
    border: 1px solid #ccc;//lighten($gray, 30%);
    @include rounded(3px);

    &:focus { border: 1px solid darken(#ccc, 10%); }
}

.icon-down-open {
	position: absolute;
	left: 185px;
	margin-top: 8px;
	color: $buttonHover;
	z-index: 1;
}
