/* MODALS
====================================================
==================================================== */

// Wallet:
.ng-modal-overlay {
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: pointer;
    opacity: 0.8;
}

.ng-modal-dialog {
    z-index: 10000;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    width: auto;
    height: auto;
    text-align: center;
    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    p {
        // margin-bottom: 20px;
    }
}

.modal_qr {
    // cursor: pointer;
}

.public_address {
    padding: 10px;
    font-size: em(12);
    background: #eee;
    // cursor: pointer;
    @include rounded(4px);
}

.icon-paper-plane {
    float: left;
}

.close_modal {
    cursor: pointer;
}

.icon-cancel-1 {
    // margin-right: -10px;
    position: absolute;
    top: -35px;
    right: -5px;
    font-size: em(24);
    color: #fff;
    opacity: .3;

    &:hover { opacity: 1; }
}

// Send modal:
.send_form {
    margin-top: 20px;
    padding-right: 20px;
    width: auto;

    label {
        float: left;
        margin-right: 10px;
        // width: 80px;
        text-align: right;
        line-height: em(32);
    }
}

#to_input,
#amount_input {
    float: left;
    width: 100%;
}

#to_input {
    margin-bottom: 15px;
}

#amount_input {
    width: 80%;
    // margin-top: -15px;
}

.switch {
    width: 80px;
    height: 40px;
}

.btn_usd {
    float: right;
}

