/* MODALS
====================================================
==================================================== */

// Wallet:
.ng-modal-overlay {
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: darken($button, 5%);
    cursor: pointer;
    opacity: .8;
}

.ng-modal-dialog {
    z-index: 10000;
    position: absolute;
    top: 40%;
    left: 50%;
    padding: 20px;
    width: auto;
    height: auto;
    text-align: center;
    background-color: #fff;
    box-shadow: 4px 4px 80px #333;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    @include rounded(4px);

    h1 { font-size: em(24); }
}

.public_address {
    padding: 10px;
    font-size: em(12);
    background: #eee;
    // cursor: pointer;
    @include rounded(4px);
}

.icon-paper-plane {
    float: left;
}

.close_modal {
    cursor: pointer;
}

.icon-cancel-1 {
    // margin-right: -10px;
    position: absolute;
    top: -35px;
    right: -5px;
    font-size: em(24);
    color: #fff;
    opacity: .3;

    &:hover { opacity: 1; }
}

// Send modal:
.send_form {
    margin-top: 20px;
    padding-right: 20px;
    width: 320px;

    .form-input {
        float: none;
    }

    label {
        float: left;
        margin-bottom: 5px;
        // margin-right: 10px;
        // width: 80px;
        // line-height: em(32);
    }
}

.label_amount {
    position: relative;
    top: 7px;
}

#to_input,
#amount_input {
    width: 100%;
}

.btn_usd {
    float: right;
    position: relative;
    top: 32px;
    right: -15px;
    padding: 5px;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    @include rounded(4px);

    &:hover {
        color: #fff;
        background: #ccc;
    }

    &:active {
        color: #fff;
        background: darken(#ccc, 10%);
    }
}
