/* MODALS
====================================================
==================================================== */

// Wallet:
.ng-modal-overlay {
    z-index: 1001;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: darken($button, 7%);
    cursor: pointer;
    opacity: .9;
}

.ng-modal-dialog {
    z-index: 1002;
    position: absolute;
    top: 40%;
    left: 50%;
    padding: 20px;
    width: auto;
    height: auto;
    text-align: center;
    background-color: #fff;
    box-shadow: 4px 4px 80px #333;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    @include rounded(4px);

    h1 { font-size: em(24); }
}

.public_address {
    padding: 10px;
    font-size: em(12);
    background: #eee;
    @include rounded(4px);
}

.icon-paper-plane { float: left; }

.close_modal { cursor: pointer; }

.icon-cancel-1 {
    position: absolute;
    top: -35px;
    right: -5px;
    font-size: em(24);
    color: #fff;
}

// Send modal:
.modal_form {
    margin-top: 20px;
    padding-right: 20px;
    width: 320px;

    .form-input { float: none; }

    label { float: left; margin-bottom: 5px; }
}

.label_amount {  position: relative; top: 7px; }

.public_addy_input { margin-top: 10px; }

#to_input,
#amount_input { width: 100%; }
