/* START OF BITAGE STYLES | DEFAULTS
====================================================
==================================================== */

html, body { width: 100%; height: 100%; } 

body {
	overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: em(16);
    color: #666;
	background: $body;
	background: -webkit-linear-gradient(top,  $body 0%,darken($body, 5%) 100%);
    background: -o-linear-gradient(top,  $body 0%,darken($body, 5%) 100%);
    background: -ms-linear-gradient(top,  $body 0%,darken($body, 5%) 100%);
    background: linear-gradient(to bottom,  $body 0%,darken($body, 5%) 100%);
}

strong { font-weight: 500; }

sup, sub { font-size: 75%; line-height: 0; vertical-align: baseline; }
sup { top: -0.5em; left: 0.15em; }
sub { bottom: -0.25em; }

a {
	text-decoration: none;
	&:hover { text-decoration: underline; }
}

canvas {
	display: block;
	vertical-align: bottom;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
