/* BUTTONS
====================================================
==================================================== */

.btn {
    color: #fff;
    font-weight: 600;
    text-shadow: 1px 1px #333;
    background: lighten($button, 10%);
    border: 1px solid lighten($button, 20%);
    cursor: pointer;
    @include rounded(5px);

    &:hover {
        border: 1px solid lighten($button, 30%);
        @include linear-gradient(lighten(#2e6086, 10%), lighten(#33636a, 10%));
    }

    &:active { 
        text-shadow: 1px 1px #666;
        border: 1px solid darken(#6e6f72, 10%);
        @include linear-gradient(darken(#2e6086, 10%), darken(#33636a, 10%));
    }
}

#btn_start_account,
#btn_login {
    padding: 10px 20px;
    @include rounded(6px);

    &:focus {
        border: 1px solid lighten($button, 30%);
        @include linear-gradient(lighten(#2e6086, 10%), lighten(#33636a, 10%));
        @include linear-gradient(darken(#2e6086, 10%), darken(#33636a, 10%));
    }
}

#btn_start_account {
    width: 228px;
    height: 60px;
}

#btn_login,
#btn_register {
    margin-bottom: 20px;
    width: 342px;
    height: 40px;
}
