/* COLORS
====================================================
==================================================== */

$green: #249B7A;
$blue: #024562;
$orange: #FC913A;
$red: #F25A43;
$purple: #8B0991;
$dgray: #25282f;
$lgray: #3b404a;

$body: #eee;

$primaryColor: 
	$blue;

$secondaryColor:
	$blue;

$btc: lighten($orange, 1%);

$button: $secondaryColor;
$buttonHover: lighten($secondaryColor, 15%);
