/*  RESPONSIVE MEDIA QUERIES
====================================================
==================================================== */

/* 1600
==================================================== */
@media all and (max-width: 1600px) {
}

/* 1200
==================================================== */
@media all and (max-width: 1200px) {
}

/* 1000
==================================================== */
@media all and (max-width: 1000px) {
}

/* 990
==================================================== */
@media all and (max-width: 990px) {
}

/* 900
==================================================== */
@media all and (max-width: 900px) {
}

/* 800
==================================================== */
@media all and (max-width: 800px) {
}

/* 768 (Mobile Break)
==================================================== */
@media all and (max-width: 768px) {
	#wrapper {
     	padding-left: 0;
    }

    #sidebar-wrapper {
     	left: 0;
    }

    #wrapper.active {
    	position: relative;
     	left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
    	left: 250px;
    	width: 250px;
    	transition: all 0.4s ease 0s;
    }

    .delete_address {
    	right: 0;
	}
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
	
	
}

/* 400
==================================================== */
@media all and (max-width: 400px) {
}

/* 360
==================================================== */
@media all and (max-width: 360px) {
}
