/*  RESPONSIVE MEDIA QUERIES
====================================================
==================================================== */

/* 1600
==================================================== */
@media all and (max-width: 1600px) {
    .service_blocks { width: 70%; }
}

/* 1000
==================================================== */
@media all and (max-width: 1000px) {
    .service_blocks { width: 90%; }
}

/* 990
==================================================== */
@media all and (max-width: 990px) {
}

/* 900
==================================================== */
@media all and (max-width: 900px) {
}

/* 800
==================================================== */
@media all and (max-width: 800px) {

    #main_nav  {
        display: none;
        right: 0;
        margin: 60px 0 0 0;
        padding: 20px 0 0 0;
        text-align: center;
        width: 100%;
        background: $blue;
        z-index: 4;

        li {
            float: none;
            margin-bottom: 30px;
        }
    }

    .mobile_nav { display: block; }

    #fast_signup {
        padding: 20px;

        h2 {
            margin: 10px 0 40px;
            font-size: em(32);
            line-height: em(24);
            color: #eee;
        }
    }

    .biticker-value { margin-left: 40px; }

	.service_blocks { flex-direction: column; }

	.service_block {
		padding: 20px 20px 20px 0;
		width: 100%;
	}

    .bitcoin_video { width: 80%; }
}

/* 768 (Mobile Break)
==================================================== */
@media all and (max-width: 768px) {
}

/* 600
==================================================== */
@media all and (max-width: 600px) {

    #btn_subscribe { margin: 20px 0 0 0; }

    #login_widget, #register_widget {
    	top: 135px;
    	margin-top: 0;
    	padding: 20px 40px 20px 15px;

    	p { margin-bottom: 10px; }

    }

	footer { top: 135px; }
}

/* 400
==================================================== */
@media all and (max-width: 400px) {
}

/* 360
==================================================== */
@media all and (max-width: 360px) {
}
