/* BUTTONS
====================================================
==================================================== */

.btn {
	color: #fff;
    font-weight: 600;
    // text-shadow: 1px 1px #333;
    background: lighten($button, 10%);
    border: 1px solid lighten($button, 10%);
    cursor: pointer;
    @include rounded(3px);

    &:hover {
        background: $buttonHover;
        border: 1px solid $buttonHover;
    }

    &:active { 
        background: lighten($buttonHover, 15%);
        border: 1px solid #fff;
    }
}

.btn_tiny { padding: 5px 8px; font-size: em(8); }

.btn_small {
    padding: 7px 10px;
    height: 30px;
    font-size: em(12);
    line-height: 10px;
}

.btn_med {
    padding: 9px 15px;
    height: 36px;
    line-height: 10px;
}

.btn_add_account {
    float: left;
    height: 32px;
}

.btn_send_now,
.btn_remove {
    float: right;
    margin-top: 15px;
}

.btn_remove {
    margin-right: 10px;
}

.btn_usd {
    float: right;
    position: relative;
    top: 30px;
    right: 2px;
    padding: 5px;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    @include rounded(4px);

    &:hover { color: #fff; background: #ccc; }
    &:active { color: #fff; background: darken(#ccc, 10%); }
}