/*  SVG background images
====================================================
==================================================== */


.qr_btn
{
	position: relative;
	margin: 0 auto;
	background-size: 640px 640px;
	background-image: url(_assets/img/bitage_icons.svg), none;
}
