/* ACCOUNTS
====================================================
==================================================== */

.account-content {
    position: relative;
    width: 100%;
}

.add_account_widget {
    border-bottom: 1px solid lighten($primaryColor, 20%);

    h1 {
        margin-bottom: 10px;
    }
}

.total_widget {
    border-top: 1px solid lighten($primaryColor, 20%);
    background: lighten(#ccc, 15%);

    li { float: left; margin-left: 20px; }
    li:first-child { margin-left: 0; }
}

td {
    margin-right: 20px;
}

table {
    width: 100%;
}

.td_acct_label {
    width: 15%;
    font-size: em(14);
    font-weight: 600;
}

.td_acct_price {
    width: 15%;
    span { font-weight: 600; color: $btc; }
}

.td_acct_addr {
    width: 50%;
}

.td_edit {
    float: right;
    margin-right: 0px;
    width: 20%;
}

.icon-qrcode-1,
.icon-pencil-squared,
.btc_public_address,
.icon-sort {
    float: left;
    cursor: pointer;
    &:hover { color: $buttonHover; }
}

.icon-pencil-squared {
    margin-right: 5px;
}

.btc_public_address {
    margin: 2px 0 0 10px;
    font-size: em(11);
    color: $gray;
    @include rounded(6px);
}

// Total widget
.total_label,
.total_btc,
.total_usd,
.total_euro,
.denomination { float: left; }

.total_label,
.total_btc,
.total_usd,
.total_euro { line-height: 26px; }

.total_btc { color: $btc; }
.total_btc,
.total_usd,
.total_euro { font-weight: 600; }

.total_usd,
.total_euro { color: $gray; }

.denomination {
    float: left;
    margin: 5px 0 0 5px;
    font-size: em(8);
    color: #666;
}

.added_address,
.total_widget,
#add_new_address_form { @include clearfix; }