/* ACCOUNTS
====================================================
==================================================== */

.account-content {
    position: relative;
    width: 100%;
    min-width: 640px;
}

.total_widget,
.add_account_widget { padding: 20px; }

.add_account_widget {
    border-top: 1px solid #eee;
    
    .icon-help-circled {
        float: left;
        cursor: pointer;
        &:hover {color: $buttonHover; }
    }

    h1 { margin-bottom: 10px; }
}

.total_widget {
    li { float: left; margin-left: 20px; }
    li:first-child { margin-left: 0; }
}

.accounts_table {
    width: 100%;
    border-top: 1px solid #eee;
}

.row_head td {
    padding: 10px 20px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.row_body td {
    padding: 16px 20px;
    margin-right: 20px;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    // border-bottom: 1px solid #eee;
}

.row_body {
    &:hover { background: #f7f7f7; }
}

.td_acct_price {
    width: 15%;
    span { font-weight: 600; color: $btc; }
}

.td_acct_label {
    width: 20%;
    font-weight: 600;
    font-size: em(14);
}

.td_acct_addr { width: 65%; }

.td_edit {
    cursor: pointer;
    &:hover { color: $buttonHover; }
}

.icon-qrcode-1,
.icon-edit,
.btc_public_address {
    float: left;
    cursor: pointer;
    &:hover { color: $buttonHover; }
}

.icon-edit { font-size: em(20); }

.btc_public_address {
    margin: 2px 0 0 10px;
    font-size: em(11);
    color: $gray;
    @include rounded(6px);
}

// Total widget
.total_label,
.total_btc,
.total_usd,
.total_euro,
.denomination { float: left; }

.total_label,
.total_btc,
.total_usd,
.total_euro { line-height: 26px; }

.total_btc { color: $btc; }
.total_btc,
.total_usd,
.total_euro { font-weight: 600; }

.total_usd,
.total_euro { color: $gray; }

.denomination {
    float: left;
    margin: 5px 0 0 5px;
    font-size: em(8);
    font-weight: 300;
    color: #666;
}

.added_address,
.total_widget,
#add_new_address_form { @include clearfix; }
