/* ACCOUNTS
====================================================
==================================================== */

.account-content {
    position: relative;
    width: 100%;
}

.total_widget,
.add_account_widget {
    padding: 20px;
    // border-top: 1px solid lighten($primaryColor, 20%);
    // border-bottom: 1px solid lighten($primaryColor, 20%);
}

.add_account_widget {
    h1 { margin-bottom: 10px; }
}

.total_widget {
    background: lighten(#ccc, 15%);

    li { float: left; margin-left: 20px; }
    li:first-child { margin-left: 0; }
}

.accounts_table {
    width: 100%;
    border-top: 1px solid lighten(#666, 20%);

    .row_body:last-child td {
        border-bottom: 1px solid lighten(#666, 20%);
    }
}

.row_head td {
    padding: 10px 20px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.row_body td {
    padding: 16px 20px;
    margin-right: 20px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.row_body {
    &:hover { background: #f7f7f7; }
}

.td_acct_price {
    width: 20%;
    span { font-weight: 600; color: $btc; }
}

.td_acct_label {
    width: 20%;
    font-weight: 600;
    font-size: em(14);
}

.td_acct_addr { width: 60%; }

.td_edit {
    cursor: pointer;

    &:hover {
        color: $buttonHover;
    }
}

// .td_edit {
//     margin-right: 0px;
//     width: 5%;
//     text-align: center;
//     cursor: pointer;
// }

.icon-qrcode-1,
.icon-pencil-squared,
.btc_public_address {
    float: left;
    cursor: pointer;
    &:hover { color: $buttonHover; }
}

.icon-pencil-squared {
    font-size: em(20);
    // margin-right: 5px;
}

.btc_public_address {
    margin: 2px 0 0 10px;
    font-size: em(11);
    color: $gray;
    @include rounded(6px);
}

// Total widget
.total_label,
.total_btc,
.total_usd,
.total_euro,
.denomination { float: left; }

.total_label,
.total_btc,
.total_usd,
.total_euro { line-height: 26px; }

.total_btc { color: $btc; }
.total_btc,
.total_usd,
.total_euro { font-weight: 600; }

.total_usd,
.total_euro { color: $gray; }

.denomination {
    float: left;
    margin: 5px 0 0 5px;
    font-size: em(8);
    color: #666;
}

.added_address,
.total_widget,
#add_new_address_form { @include clearfix; }