/* DASHBOARD
====================================================
==================================================== */

@import "sidebar";

#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}

#page-content-wrapper {

}

.content_header {
    h1 {
        position: relative;
        top: 65px;
        left: 20px;
        font-size: em(24);
        font-weight: 600;
        color: #333;
    }
}

.widget-container {
    position: relative;
    top: 80px;
    margin: 0 20px;
    background: #fff;
    z-index: 2;
    @include clearfix();
}
