// /* HEADER STYLES
// ====================================================
// ==================================================== */

#main_logo { cursor: pointer; }

.mobile_logo { display: none; }

.show_mobile { display: none; }

#top_nav {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
}

.top_link_group {
	margin-right: 70px;
	a { color: $gray; cursor: pointer; }
}

.top_link {
    float: left;
    margin-left: 25px;
    line-height: 40px;
}

.top_link:first-child { margin-left: 0; }

.avatar {
    position: absolute;
    float: right;
    right: 0;
    z-index: 3;
    border-radius: 50%;
    width: 40px;
    height: 40px; 
    // border: 3px solid lighten($sidebar, 10%);
    border: 1px dashed $button;
    // background: $sidebar;
    cursor: pointer;
    overflow: hidden;
    @include rounded(50%);

    &:hover { border: 1px solid $button; }

    &:active { background: lighten(#ccc, 20%); }

    .icon-down-dir {
        position: relative;
        top: 6px;
        left: 2px;
        font-size: em(26);
        color: $button;
    }

    // img { width: 40px; height: 40px; }
}

#avatar_menu {
	position: absolute;
	top: 50px;
	right: 0px;
	padding: 20px 25px;
	text-align: right;
	background: $sidebar;

	li { margin-bottom: 15px; }

	li:last-child { margin-bottom: 0; }

	a { color: #fff; }
}
