/* HELP & SUPPORT
====================================================
==================================================== */

.help_instructions {
	margin-bottom: 20px;

	.icon-twitter {
		color: $blue;
		font-size: em(18);
	}

	h2 {
		margin-bottom: 10px;
		font-size: em(20);
		line-height: em(22);
	}

	p { font-size: em(14); }

	a {
		color: $buttonHover;
		text-decoration: none;
		&:hover { text-decoration: underline; }
	}
}

.field_message {
	float: none !important;

	textarea { width: 80%; }
}

.send_message_btn_area {
    float: left;
    width: 100%;

    .btn { margin-top: 10px; }
}
