/* SIDEBAR
====================================================
==================================================== */

#sidebar-wrapper {
    position: fixed;
    margin-left: -250px;
    left: 250px;
    width: 250px;
    height: 100%;
    color: #fff;
    background: $sidebarActive;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
    @include linear-gradient($sidebarActive, $sidebarHover);
}

.sidebar-nav {
    position: absolute;
    top: 20px;
    margin: 0;
    padding: 0;
    text-indent: 20px;
    width: 250px;
    list-style: none;
    z-index: 3;

    li:not(.sidebar-brand) {
        line-height: 40px;
        
        &:hover {
            background: lighten($sidebarHover, 5%);
            // background: $sidebarHover;
        }
    }

    li:last-child { border-bottom: none; }

    a {
        display: block;
        font-size: em(18);
        color: #eee;

        &:hover { text-decoration: none; }

        &:active { background: lighten($sidebar, 10%); }
    }
}

.sidebar-nav a:active,
li.active-tab { background: $sidebarHover; }

// li.active-tab {
//     &:after {
//         opacity: 1;
//         position: relative;
//         float: right;
//         top: -32px;
//         right: 5px;
//         @include triangle(right, 12px, $sidebar);
//     }
// }

// Brand Logo
li.sidebar-brand {
    margin-bottom: 30px;
    font-family: 'Roboto Condensed', sans-serif;

    h1 {
        margin-bottom: 5px;
        font-weight: 700;
        font-size: em(32);
        text-transform: uppercase;
        // @include text-shadow(2px, 2px, #333);
    }

    h2 { font-size: em(14); }

    a:active { background: none; }

    img {
        width: 24px;
        height: 24px;
    }
}

.quotes {
    position: absolute;
    bottom: 40px;
    color: #ddd;

    p {
        margin: 0 auto 10px;
        width: 80%;
        line-height: em(20);
    }

    sub {
        float: right;
        margin-right: 20px;
    }
}
