/* SIDEBAR
====================================================
==================================================== */

#sidebar-wrapper {
    position: fixed;
    margin-left: -250px;
    left: 250px;
    width: 250px;
    height: 100%;
    color: #fff;
    overflow-y: auto;
    z-index: 1000;
    // transition: all 0.4s ease 0s;
    @include transition (all, 0.4s, ease);
    background-image: url("../img/blue.gif");
    background-size: 600px 225px;
    // @include linear-gradient($sidebarActive, $sidebarHover);
    // @include linear-gradient($dgray, $lgray);
}

.sidebar-nav {
    position: absolute;
    top: 20px;
    margin: 0;
    padding: 0;
    text-indent: 20px;
    width: 250px;
    list-style: none;
    z-index: 3;

    li:not(.sidebar-brand) {
        line-height: 40px;
        &:hover { background: $button; }
    }

    li:last-child { border-bottom: none; }

    a {
        display: block;
        font-size: em(18);
        color: #eee;
        &:hover { text-decoration: none; }
    }
}

.sidebar-nav a:active,
li.active { background: $button; }

// Brand Logo
li.sidebar-brand {
    margin-bottom: 25px;
    // margin-bottom: 36px;

    h1 {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: em(32);
        // font-size: em(48);
    }

    h2 { font-size: em(14); }

    a:active { background: none; }

    img { width: 24px; height: 24px; }
}

.quotes {
    position: absolute;
    bottom: 40px;
    color: #ddd;

    p {
        margin: 0 auto 10px;
        width: 80%;
        line-height: em(20);
    }

    sub {
        float: right;
        margin-right: 20px;
    }
}
