.DS_Store
bower_components
.codekit-config.json
config.codekit
*.config.codekit
.sass-cache
npm-debug.log
*.codekit
*.cache
*.node-gyp
*.npm
*.pm2
.bash_history
.bowerrc
.profile
.viminfo
.idea/
.swp
README.html