<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bitage | A Bitcoin Services Company</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Bitage | A Bitcoin Services Company">
    <meta name="author" content="@leongaban &amp; @paulinhorocha">

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Bitage">
    <meta property="og:title" content="Bitage" />
    <meta property="og:image" content="_assets/img/logo@2x.png" />
    <meta property="og:url" content="http://bitage.io" />
    <meta property="og:description" content="A Bitcoin Services Company" />

    <link rel="icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,500,700' rel='stylesheet'>
    <link href="../public/_assets/css/bitage_web.css" rel="stylesheet">
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Signup</h1>

	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/signup" method="post">
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" name="email">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Signup</button>
	</form>

	<hr>

	<p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>



</div>
</div>
</body>
</html>