<div class="account-content" ng-controller="AcctCtrl">

    <div class="content_header"><h1>My account balances</h1></div>

    <section class="widget-container total_widget">
        <ul>
            <li><p class="total_label">Total:</p></li>
            <li><p class="total_btc">1.009</p><em class="denomination">BTC</em></li>
            <li><p class="total_usd">261.8</p><em class="denomination">USD</em></li>
            <li><p class="total_euro">218.86</p><em class="denomination">EURO</em></li>
            <li class="add_currency_btn_li"><button class="btn btn_small">Edit</button></li>
        </ul>
    </section>

    <section ng-repeat="account in accounts" 
         ng-init="addressId='address-' + $index"
         class="widget-container added_address">

        <p class="address_label">{{account.label}}</p>

        <em class="address_balance">BTC <span>{{account.balance}}</span></em>

        <div class="qr_btn">
            <!-- <img src="_assets/img/qr_smll.png" alt=""/> -->
        </div>

        <div id="address-{{$index}}" class="btc_public_address" ng-click="pubAddress.getClick(addressId)">{{account.address}}</div>

        <!-- <div class="delete_address">
            <button class="btn btn_small">edit</button>
        </div> -->
    </section>

    <section class="widget-container add_account_widget">

        <h1>Add accounts to monitor here:</h1>

        <form id="add_new_address_form" ng-submit="addAccount()">
            <select id="account_type">
                <option>Savings</option>
                <option>Spending</option>
                <option>Donation / Tipping</option>
                <option>Gaming / Betting</option>
                <option>Mining</option>
                <option>Watching</option>
            </select>

            <input type="text" class="form-input" placeholder="Account name" ng-model="label"></input>

            <input type="text" class="form-input" placeholder="Public address" ng-model="address"></input>

            <button type="submit" class="btn btn_med">Add</button>
        </form>
    </section>
</div>