<div class="account-content" ng-controller="AcctCtrl">

    <div class="content_header"><h1>My account balances</h1></div>

    <section class="widget-container total_widget">
        <ul>
            <li><p class="total_label">Total:</p></li>
            <li><p class="total_btc">1.010</p><em class="denomination">BTC</em></li>
            <li><p class="total_usd">= 207.40</p><em class="denomination">USD</em></li>
            <!-- <li><p class="total_euro">179.40</p><em class="denomination">EURO</em></li> -->
            <!-- <li class="add_currency_btn_li"><button class="btn btn_small">Edit</button></li> -->
        </ul>
    </section>

    <section class="widget-container added_address">

        <table class="accounts_table">
            <thead>
                <tr class="row_head">
                    <td>Balance</td>
                    <td>Name</td>
                    <td>Address</td>
                    <td>Edit</td>
                </tr>
            </thead>
            <tbody>
                <tr class="row_body"
                    ng-repeat="account in accounts" 
                    ng-init="addressId='address-' + $index">
                    <td class="td_acct_price">
                        <span>{{account.balance}}</span>
                    </td>

                    <td class="td_acct_label">
                        {{account.label}}
                    </td>

                    <td class="td_acct_addr">
                        <div class="icon-qrcode-1"></div>
                        <div id="address-{{$index}}" class="btc_public_address" ng-click="pubAddress.getClick(addressId)">{{account.address}}</div>
                    </td>

                    <td class="td_edit">
                        <div class="icon-pencil-squared"></div>
                    </td>
                </tr>
            </tbody>
        </table>

    </section>

    <section class="widget-container add_account_widget">

        <h1><div class="icon-help-circled"></div>Add accounts to monitor here:</h1>

        <form id="add_new_address_form" ng-submit="addAccount()">
            <!-- <select id="account_type">
                <option>Savings</option>
                <option>Spending</option>
                <option>Donation / Tipping</option>
                <option>Gaming / Betting</option>
                <option>Mining</option>
                <option>Watching</option>
            </select>

            <div class="icon-down-open"></div> -->

            <input type="text" class="form-input" placeholder="Account name" ng-model="label"></input>

            <input type="text" class="form-input" placeholder="Public address" ng-model="address"></input>

            <button type="submit" class="btn btn_med btn_add_account">Add</button>
        </form>
    </section>
</div>