/*=================================================================
BitAge.io Master Stylesheet ---------------------------------------
===================================================================

stylesheets/
|
|-- modules/            	    # Partials
|   |-- _reset       	    	# Reset
|   |-- _base           	    # Imports all the modules
|   	|-- _animation      	    # CSS animations
|   	|-- _colors         	    # Colors
|   	|-- _fonts          	    # Fonts
|   	|-- _mixins         	    # Imports all mixins & global vars
|   |-- _defaults       	    # Global Defaults
|   |-- _inputs         	    # Input styles
|   |-- _tables         	    # Table styles
|   |-- _icons          	    # Icons styles
|   |-- _layout         	    # Layout Views
|   	|-- header
|   	|-- dashboard
|   	|-- footer
|   	...
|
|   |-- _firefox
|   |-- _queries
|
|-- vendors/            	    # CSS or from other projects
|   |-- _normalize      	    # http://necolas.github.io/normalize.css
|   ...
|
`-- att_partner_exchange	    # Primary Sass file
*/
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* PIXELS to EM */
/* TRIANGLE */
/* FROM BOURBON */
/* FLEXBOX */
/* COLORS
====================================================
==================================================== */
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on August 22, 2014 */
@font-face {
  font-family: 'omnes_light';
  src: url("../fonts/omnes_att_ii_light-webfont.eot");
  src: url("../fonts/omnes_att_ii_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/omnes_att_ii_light-webfont.woff2") format("woff2"), url("../fonts/omnes_att_ii_light-webfont.woff") format("woff"), url("../fonts/omnes_att_ii_light-webfont.ttf") format("truetype"), url("../fonts/omnes_att_ii_light-webfont.svg#omnes_att_iilight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'omnes_att_iilight_italic';
  src: url("../fonts/omnes_att_ii_light-italic-webfont.eot");
  src: url("../fonts/omnes_att_ii_light-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/omnes_att_ii_light-italic-webfont.ttf") format("truetype"), url("../fonts/omnes_att_ii_light-italic-webfont.svg#omnes_att_iilight_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'omnes_att_iimedium';
  src: url("../fonts/omnes_att_ii_medium-webfont.eot");
  src: url("../fonts/omnes_att_ii_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/omnes_att_ii_medium-webfont.ttf") format("truetype"), url("../fonts/omnes_att_ii_medium-webfont.svg#omnes_att_iimedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'omnesatt_iiregular';
  src: url("../fonts/omnes_att_ii-regular-webfont.eot");
  src: url("../fonts/omnes_att_ii-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/omnes_att_ii-regular-webfont.ttf") format("truetype"), url("../fonts/omnes_att_ii-regular-webfont.svg#omnesatt_iiregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'omnes_att_iimedium_italic';
  src: url("../fonts/omnes_att_ii_medium-italic-webfont.eot");
  src: url("../fonts/omnes_att_ii_medium-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/omnes_att_ii_medium-italic-webfont.woff2") format("woff2"), url("../fonts/omnes_att_ii_medium-italic-webfont.woff") format("woff"), url("../fonts/omnes_att_ii_medium-italic-webfont.ttf") format("truetype"), url("../fonts/omnes_att_ii_medium-italic-webfont.svg#omnes_att_iimedium_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'clearviewbold';
  src: url("../fonts/clvatt-bold-webfont.eot");
  src: url("../fonts/clvatt-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/clvatt-bold-webfont.woff2") format("woff2"), url("../fonts/clvatt-bold-webfont.woff") format("woff"), url("../fonts/clvatt-bold-webfont.ttf") format("truetype"), url("../fonts/clvatt-bold-webfont.svg#clearviewattregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'clearviewattregular';
  src: url("../fonts/clvatt-book-webfont.eot");
  src: url("../fonts/clvatt-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/clvatt-book-webfont.ttf") format("truetype"), url("../fonts/clvatt-book-webfont.svg#clearviewattregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'clearviewattlight';
  src: url("../fonts/clvatt-light-webfont.eot");
  src: url("../fonts/clvatt-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/clvatt-light-webfont.woff2") format("woff2"), url("../fonts/clvatt-light-webfont.woff") format("woff"), url("../fonts/clvatt-light-webfont.ttf") format("truetype"), url("../fonts/clvatt-light-webfont.svg#clearviewattlight") format("svg");
  font-weight: normal;
  font-style: normal; }
/* APP ANIMATIONS
====================================================
==================================================== */
/* when hiding the thing */
.ng-hide-add {
  -webkit-animation: 0.5s rollUp ease;
  animation: 0.5s rollUp ease; }

/* when showing the thing */
.ng-hide-remove {
  -webkit-animation: 0.5s rollDown ease;
  animation: 0.5s rollDown ease; }

/* Toggle rollDown */
@-webkit-keyframes rollDown {
  0% {
    opacity: 0;
    top: 0px; }
  100% {
    opacity: 1;
    top: 50px; } }
@keyframes rollDown {
  0% {
    opacity: 0;
    top: 0px; }
  100% {
    opacity: 1;
    top: 50px; } }
/* Toggle rollUp */
@-webkit-keyframes rollUp {
  0% {
    opacity: 1;
    top: 50px; }
  100% {
    opacity: 0;
    top: 0px; } }
@keyframes rollUp {
  0% {
    opacity: 1;
    top: 0px; }
  100% {
    opacity: 0;
    top: -50px; } }
/* START OF BITAGE STYLES | DEFAULTS
====================================================
==================================================== */
html, body {
  width: 100%;
  height: 100%; }

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  background: #eee;
  background: -webkit-linear-gradient(top, #eee 0%, #ddd 100%);
  background: -o-linear-gradient(top, #eee 0%, #ddd 100%);
  background: -ms-linear-gradient(top, #eee 0%, #ddd 100%);
  background: linear-gradient(to bottom, #eee 0%, #ddd 100%); }

strong {
  font-family: omnes_att_iimedium; }

sup, sub {
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em;
  left: 0.15em; }

sub {
  bottom: -0.25em; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

*:focus {
  outline: 0; }

.btn {
  position: relative;
  color: #fff;
  background: #81af4c;
  border: 0;
  box-shadow: 0 3px #678b3d;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .btn:hover {
    top: 1px;
    background: #678b3d; }
  .btn:active {
    background: #9ac06e; }

.btn_small {
  padding: 7px 10px;
  font-size: 0.6875em; }

.btn_med {
  padding: 7px 15px; }

/* INPUTS, SELECTS, CHECKBOXES, RADIOS
====================================================
==================================================== */
select#account_type {
  position: relative;
  top: 13px;
  overflow: hidden;
  margin-right: 10px;
  padding: 6px 0px;
  width: 194px;
  line-height: 21px;
  text-overflow: ellipsis;
  text-indent: 10px;
  color: #555;
  font-size: inherit;
  white-space: nowrap;
  border: 1px solid #ccc;
  background-image: url(_sources/images/select_arrow.png), -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  background-position: 93% center;
  background-repeat: no-repeat;
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none; }

.form-input {
  position: relative;
  top: 2px;
  margin: 0 10px 5px 0;
  padding: 6px 10px;
  background: #eee;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

/* LAYOUTS
====================================================
==================================================== */
#main_logo {
  cursor: pointer; }

#top_nav {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3; }

.top_link_group {
  margin-right: 70px; }
  .top_link_group a {
    color: #535E5E;
    cursor: pointer; }

.top_link {
  float: left;
  margin-left: 25px;
  line-height: 40px; }

.top_link:first-child {
  margin-left: 0; }

.avatar {
  position: absolute;
  float: right;
  right: 0;
  z-index: 3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 3px solid #94999b;
  cursor: pointer;
  box-shadow: 1px 1px 5px #fff; }
  .avatar:hover {
    border: 3px solid #484c4e; }
  .avatar img {
    width: 40px;
    height: 40px; }

#avatar_menu {
  position: absolute;
  top: 50px;
  right: 0px;
  padding: 20px 25px;
  text-align: right;
  background: #616668; }
  #avatar_menu li {
    margin-bottom: 15px; }
  #avatar_menu li:last-child {
    margin-bottom: 0; }
  #avatar_menu a {
    color: #fff; }

/* DASHBOARD
====================================================
==================================================== */
/* SIDEBAR
====================================================
==================================================== */
#sidebar-wrapper {
  position: fixed;
  margin-left: -250px;
  height: 100%;
  left: 250px;
  width: 250px;
  color: #fff;
  background: #616668;
  background: -moz-linear-gradient(top, #616668 0%, #8d9296 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #616668), color-stop(100%, #8d9296));
  background: -webkit-linear-gradient(top, #616668 0%, #8d9296 100%);
  background: -ms-linear-gradient(top, #616668 0%, #8d9296 100%);
  background: linear-gradient(to bottom, #616668 0%, #8d9296 100%);
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s; }

.sidebar-nav {
  position: absolute;
  top: 20px;
  margin: 0;
  padding: 0;
  text-indent: 20px;
  width: 250px;
  list-style: none;
  z-index: 3; }
  .sidebar-nav li:not(.sidebar-brand) {
    line-height: 40px; }
    .sidebar-nav li:not(.sidebar-brand):hover {
      background: #434748; }
  .sidebar-nav li:last-child {
    border-bottom: none; }
  .sidebar-nav a {
    display: block;
    font-size: 1.125em;
    color: #eee; }
    .sidebar-nav a:hover {
      text-decoration: none; }
    .sidebar-nav a:active {
      background: #7a8082; }

.sidebar-nav a:active,
li.active-tab {
  background: #434748;
  background: -moz-linear-gradient(left, #515556 0%, #434748 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #515556), color-stop(100%, #434748));
  background: -webkit-linear-gradient(left, #515556 0%, #434748 100%);
  background: -ms-linear-gradient(left, #515556 0%, #434748 100%);
  background: linear-gradient(to right, #515556 0%, #434748 100%); }

li.sidebar-brand {
  margin-bottom: 20px;
  font-family: 'Changa One', cursive;
  font-size: 2em; }

.quotes {
  position: absolute;
  bottom: 40px;
  color: #ddd; }
  .quotes p {
    margin: 0 auto 10px;
    width: 80%;
    line-height: 1.25em; }
  .quotes sub {
    float: right;
    margin-right: 20px; }

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s; }

.account-content {
  position: relative;
  width: 100%; }

.content_header h1 {
  position: relative;
  top: 65px;
  left: 20px;
  font-size: 1.5em;
  color: #666; }

.widget-container {
  position: relative;
  top: 80px;
  margin: 1px 20px;
  padding: 20px;
  background: #fff;
  z-index: 2; }

.btc_public_address,
.address_balance,
.qr_btn {
  float: left; }

.address_label {
  font-size: 0.75em;
  font-weight: 600;
  line-height: 5px;
  margin-bottom: 10px; }
  .address_label a {
    margin-left: 5px;
    color: #81af4c; }
    .address_label a:hover {
      color: #5a7a35; }

.delete_address {
  position: relative;
  top: -5px;
  width: 30px;
  height: 30px;
  float: right;
  font-size: 0.6875em;
  cursor: pointer; }
  .delete_address img {
    position: relative;
    top: 10px;
    left: 10px;
    width: 10px;
    height: 10px; }

.address_balance {
  width: 80px;
  min-width: 60px;
  padding: 10px;
  background: #f7f7f7;
  z-index: 3;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.btc_public_address {
  margin-left: 10px;
  padding: 2px 10px;
  line-height: 30px;
  margin-top: 3px;
  font-size: 0.6875em;
  color: #535E5E;
  cursor: pointer;
  -webkit-border-radius: 6px;
  border-radius: 6px; }
  .btc_public_address:hover {
    background: #f7f7f7; }

.qr_btn {
  margin-left: 15px;
  position: relative;
  top: 10px;
  cursor: pointer; }

.total_label,
.total_btc,
.total_usd,
.total_euro,
.denomination {
  float: left; }

.total_btc,
.total_usd,
.total_euro {
  font-weight: 600; }

.total_btc {
  color: #0076FF; }

.total_usd,
.total_euro {
  color: #535E5E; }

.denomination {
  float: left;
  margin-left: 5px;
  font-size: 0.5em; }

.add_account_widget h1 {
  margin-bottom: 10px; }

.total_widget {
  background: #f2f2f2; }
  .total_widget li {
    float: left;
    margin-left: 20px; }
  .total_widget li:first-child {
    margin-left: 0; }

.added_address:after,
.total_widget:after,
#add_new_address_form:after {
  content: "";
  display: table;
  clear: both; }

/* FOOTER STYLES
====================================================
==================================================== */
footer {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 0.8125em;
  color: #535E5E; }
  footer a {
    font-weight: 600;
    color: #81af4c; }

/*  SVG background images
====================================================
==================================================== */
/*  RESPONSIVE MEDIA QUERIES
====================================================
==================================================== */
/* 1600
==================================================== */
/* 1400
==================================================== */
/* 1300
==================================================== */
/* 1260
==================================================== */
/* 1200
==================================================== */
/* 1100
==================================================== */
/* 1000
==================================================== */
/* 990
==================================================== */
/* 900
==================================================== */
/* 850
==================================================== */
/* 800
==================================================== */
/* 768 (Mobile Break)
==================================================== */
@media all and (max-width: 768px) {
  #wrapper {
    padding-left: 0; }

  #sidebar-wrapper {
    left: 0; }

  #wrapper.active {
    position: relative;
    left: 250px; }

  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s; }

  .delete_address {
    right: 0; } }
/* 740
==================================================== */
/* 640
==================================================== */
/* 600
==================================================== */
@media all and (max-width: 600px) {
  #top_nav {
    font-size: 0.6875em; }

  .content_header h1 {
    font-size: 1.125em; }

  .address_label {
    line-height: 0;
    margin-bottom: 25px; }

  .btc_public_address,
  .address_balance,
  .qr_btn {
    float: none; }

  .address_balance {
    padding: 5px 10px;
    width: 200px;
    min-width: 100%; }

  .qr_btn {
    top: 20px;
    margin-left: 0px;
    margin-right: 10px; }

  .btc_public_address {
    margin-left: 30px;
    margin-top: 10px;
    font-size: 0.5em;
    line-height: 0; }

  .delete_address {
    top: -40px; }
    .delete_address img {
      left: 10px; }

  li.add_currency_btn_li {
    margin-top: 15px;
    margin-left: 0; }

  select#account_type {
    margin-bottom: 15px;
    width: 220px; } }
/* 500
==================================================== */
/* 400
==================================================== */
/* 360
==================================================== */
