<!DOCTYPE html>

<html>
<head>
    <title>BITAGE | dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="BITAGE | A Bitcoin Services Company">
    <meta name="author" content="NodeDallas">

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="application" />
    <meta property="og:site_name" content="BITAGE">
    <meta property="og:title" content="BITAGE" />
    <meta property="og:image" content="logo@2x.png" />
    <meta property="og:url" content="http://www.bitage.io" />
    <meta property="og:description" content="A Bitcoin Services Company" />

    <link rel="icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700,300' rel='stylesheet' type='text/css'>
    <link href="_assets/css/bitage.css" rel="stylesheet">
</head>

<body ng-app="bitAge"
      ng-controller="DashCtrl"
      ng-click="pageClick()">

    <div id="wrapper">

        <nav id="top_nav">
            <ul class="top_link_group">
                <li class="top_link"><a href="#">Features</a></li>
                <li class="top_link"><a href="#">Blog</a></li>
                <li class="top_link"><a href="#">Help</a></li>
            </ul>

            <div class="avatar"
                 ng-click="id_avatar_menu.getMenuClick('clicked menu', $event)"
                 ng-class="{ active: avatarMenuBool }">
                 <img src="_assets/img/leon.png" title="settings" alt="user avatar" />
            </div>

            <div ng-show="avatarMenuBool"
                 ng-click="menuClick($event)"
                 id="avatar_menu">
                <ul>
                    <li>
                        <a data-ng-click="sectionSelected = 1" ng-click="pageClick()" href="#/wallet">Wallet</a>
                    </li>
                    <li>
                        <a data-ng-click="sectionSelected = 2" ng-click="pageClick()" href="#/accounts">Accounts</a>
                    </li>
                    <li>
                        <a data-ng-click="sectionSelected = 3" ng-click="pageClick()" href="#/settings">Settings</a>
                    </li>
                    <li>
                        <a ng-click="pageClick()" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <h1><a href="#/accounts">Bit<em>Age</em></a></h1>
                    <h2>A Bitcoin Services Company</h2>
                </li>
                <li data-ng-class="{'active-tab' : sectionSelected == 1}"
                    data-ng-click="sectionSelected = 1">
                    <a href="#/wallet">Wallet</a>
                </li>
                <li data-ng-class="{'active-tab' : sectionSelected == 2}"
                    data-ng-click="sectionSelected = 2">
                    <a href="#/accounts">Accounts</a>
                </li>
                <li data-ng-class="{'active-tab' : sectionSelected == 3}"
                    data-ng-click="sectionSelected = 3">
                    <a href="#/settings">Settings</a>
                </li>
            </ul>
            <div class="quotes" title="Nelson Mandela">
                <p>Money won't create success, the freedom to make it will.</p>
                <sub>- Nelson Mandela</sub>
            </div>
        </div>

        <section id="page-content-wrapper">
            <ui-view></ui-view>
        </section>

        <footer>&copy; BitAge by <a href="http://nodedallas.io" target="_blank" title="Visit NodeDallas!">NodeDallas</a></footer>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>
    <script src="_assets/js/libs/angular-ui-router.min.js"></script>
    <script src="_shared/dashboard.js"></script>
    <script src="_components/wallet.js"></script>
    <script src="_components/accounts.js"></script>
    <script src="_components/settings.js"></script>
    <script src="_assets/js/plugins/ng-flow-standalone.min.js"></script>
    <script src="app.js"></script>

    <!--
    <script src="_assets/js/plugins/particles.min.js"></script>
    <script type="text/javascript">
        particlesJS('sidebar-wrapper', {
            particles: {
              color: '#026f9d',
              shape: 'circle',
              opacity: 1,
              size: 2.5,
              size_random: true,
              nb: 50,
              line_linked: {
                enable_auto: true,
                distance: 350,
                color: '#026f9d',
                opacity: 0.5,
                width: .5,
                condensed_mode: {
                  enable: false,
                  rotateX: 600,
                  rotateY: 600
                }
              },
              anim: {
                enable: true,
                speed: 1
              }
            },
            interactivity: {
              enable: false,
              mouse: {
                distance: 250
              },
              detect_on: 'canvas',
              mode: 'grab',
              line_linked: {
                opacity: 0.6
              },
              events: {
                onclick: {
                  push_particles: {
                    enable: true,
                    nb: 4
                  }
                }
              }
            },
            retina_detect: true
        });
    </script>
    -->

    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-56442460-2', 'auto');
        ga('send', 'pageview');
    </script>

    <script type="text/javascript">
        setTimeout(function(){var a=document.createElement("script");
        var b=document.getElementsByTagName("script")[0];
        a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0006/1105.js?"+Math.floor(new Date().getTime()/3600000);
        a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

</body>
</html>