/* BUTTONS
====================================================
==================================================== */

.btn {
    color: #fff;
    font-weight: 600;
    text-shadow: 1px 1px #333;
    background: lighten($button, 10%);
    border: 1px solid lighten($button, 20%);
    cursor: pointer;
    @include rounded(5px);

    &:hover {
        border: 1px solid lighten($button, 30%);
        background: lighten($button, 15%);
    }

    &:active { 
        text-shadow: 1px 1px #666;
        border: 1px solid darken(#6e6f72, 10%);
        background: lighten($button, 20%);
    }
}

#btn_start_account,
#btn_use_facebook,
#btn_use_twitter,
#btn_login,
#btn_subscribe {
    padding: 10px 20px;
    @include rounded(6px);

    &:focus {
        border: 1px solid lighten($button, 30%);
        background: lighten($button, 15%);
    }
}

#btn_start_account,
#btn_use_facebook,
#btn_use_twitter {
    width: 228px;
    height: 60px;
}

#btn_use_facebook {
    background: $facebook;
    text-shadow: 1px 1px #666;
    border: 1px solid lighten($facebook, 20%);

    &:hover {
        border: 1px solid lighten($facebook, 30%);
        background: lighten($facebook, 5%);
    }
}

#btn_use_twitter {
    background: $twitter;
    text-shadow: 1px 1px #666;
    border: 1px solid lighten($twitter, 20%);

    &:hover {
        border: 1px solid lighten($twitter, 30%);
        background: lighten($twitter, 5%);
    }
}

#btn_login,
#btn_register {
    margin-bottom: 20px;
    width: 342px;
    height: 40px;
}

#btn_subscribe {
    margin-top: 15px;
    width: 140px;
    height: 45px;
}
