/* ABOUT
====================================================
==================================================== */

// #body_about {
// 	background-image: url("../img/gems_login.jpg");
// }

.mobile_logo {
    display: none;
    cursor: pointer;
}

.about_container {
	position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 135px;
	max-width: 640px;
	width: 80%;

	h1 {
    	margin-bottom: 30px;
    	font-weight: 600;
		font-size: em(36);
		color: #fff;
    }

    a {
    	color: $buttonHover;
    	text-decoration: underline;

    	&:hover {
            color: lighten($buttonHover, 10%);
    		text-decoration: none;
    	}
    }

    p {
    	margin-bottom: em(24);
    	font-size: em(20);
    	line-height: em(24);
    	color: #eee;
    }

    input {
        padding: 10px 20px;
        border: 1px solid #eee;
        @include rounded(4px);

        &::-webkit-input-placeholder { color: $blue; }
		&:-moz-placeholder { color: $blue; opacity: 1; }
		&::-moz-placeholder { color: $blue; opacity: 1; }
		&:-ms-input-placeholder { color: $blue; }
    }
}

.mailchimp_badge {
	margin-bottom: 10px;

	em {
		position: relative;
		top: -9px;
		font-size: em(11);
	}
}

.mailchimp {
    // float: left;
    margin: 0 !important;
    width: 120px;
    height: 30px;
    background-position: -80px -120px;
}
