/* FOOTER STYLES
====================================================
==================================================== */

footer {
	// position: absolute;
	// bottom: 20px;
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	font-size: em(13);
	text-align: center;
	color: $gray;
	z-index: 3;

	a {
		font-weight: 600;
		color: darken($purple, 5%);
	}
}

.biticker-value {
	position: absolute;
	right: 20px;
	bottom: 0px;
}

.biticker-loading {
	color: #fff;
}