/* FOOTER STYLES
====================================================
==================================================== */

footer {
	position: relative;
	margin: 0 auto 60px auto;
	padding-bottom: 10px;
	width: 145px;
	font-size: em(13);
	text-align: center;
	color: #666;
	z-index: 3;

	a { font-weight: 600; color: lighten($blue, 10%); }

	p, div {
		float: left;
	}

	div {
		margin-left: 5px;
	}
}

.biticker-value {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: darken(#fff, 30%);
}

.biticker-loading { color: #fff; }

#body_about,
#body_login,
#body_register {
	footer { position: absolute; bottom: 20px; }
}
