/* FOOTER STYLES
====================================================
==================================================== */

footer {
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	font-size: em(13);
	text-align: center;
	color: $gray;
	z-index: 3;

	a { font-weight: 600; color: darken($purple, 5%); }
}

.biticker-value {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: darken(#fff, 30%);
}

.biticker-loading { color: #fff; }

#body_about,
#body_login,
#body_register {
	footer { position: absolute; bottom: 20px; }
}
