// /* HEADER STYLES
// ====================================================
// ==================================================== */

#main_nav {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;

    li {
        float: left;
        margin-left: 25px;
    }

    a { color: #fff; }
}

// about, login, register
.bitage_logo {
    position: relative;
    top: 20px;
    left: 20px;
    width: 120px;
    font-size: em(32);
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
