// /* HEADER STYLES
// ====================================================
// ==================================================== */

#main_nav {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;

    li { float: left; margin-left: 25px; }

    a { color: #fff; }
}

.mobile_nav {
    display: none;
    float: right;
    position: relative;
    margin-right: 30px;
    font-size: em(32);
    z-index: 4;
}

.icon-menu {
    color: #fff;
    cursor: pointer;
    
    &:hover {
        color: $buttonHover;
    }
}

.bitage_logo {
    position: relative;
    top: 20px;
    left: 20px;
    width: 120px;
    font-size: em(32);
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;

    a {
        color: #fff;
        text-decoration: none;
    }
}
