/* HOMEPAGE
====================================================
==================================================== */

#body_home,
#body_login,
#body_register,
#body_about {
	background: $gray;
	// background-image: url("../img/mountains.jpg");
	// background-image: url("../img/ocean.jpg");
	background-image: url("../img/shapes.gif");
	background-position: center;
	// background-repeat: no-repeat;
	// background-size: cover;
}

// BITAGE LOGO
#home_intro h1,
.bitage_logo {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}

.bitage_logo {
	a { color: #666; text-decoration: none; }
}

#home_intro {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	// top: 15%;
	margin-top: 150px;
	left: 0;
	right: 0;
	height: auto;
	text-align: center;
	color: #333;

	h1 {
		margin-bottom: 15px;
		font-size: em(128);
		color: #fff;
	}

	h2, h3 {
		font-weight: 300;
		font-size: em(20);
		line-height: em(24);
		color: #fff;
	}
}

#fast_signup {
	position: relative;
	margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
	padding: 40px 20px 0 20px;

	h3 {
		margin-bottom: 30px;
		font-size: em(40);
		color: #eee;
	}
}

#bitcoin_services {
	margin: 160px 0 60px 0;
	padding: 60px 0;
	width: 100%;
	text-align: center;
	background: #fff;
	@include clearfix();

	h1 {
		margin-bottom: 40px;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 700;
		font-size: em(64);
	}
}

.service_blocks {
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
	width: 80%;
	@include clearfix();

	display: flex;
	flex-direction: row;
}

.service_block {
	float: left;
	margin-right: 20px;
	padding: 20px;
	width: 310px;
	font-size: em(20);

	justify-content: center;
	align-items: stretch;


	p {
		font-size: em(12);
		line-height: em(20);
		margin: 10px 0 20px;
		color: #ccc;
	}
}

.key {
	width: 60px;
	height: 64px;
	background-position: 0 -80px;
}

.globe {
	width: 68px;
	height: 72px;
	background-position: 0 -160px;
}

.dashboard {
	width: 60px;
	height: 64px;
	background-position: 0 -240px;
}



