/* HOMEPAGE
====================================================
==================================================== */

#body_id {
	background: $dgray;
	// background-image: url("../img/gems.jpg");
	// background-image: url("../img/ocean.jpg");
	// background-image: url("../img/mountains.jpg");
	// background-image: url("../img/pattern.jpg");
	// background-image: url("../img/shapes.gif");
	// background-size: cover;
	// background-position: center;
	@include linear-gradient($dgray, $lgray);
}

// BitAge logo:
#home_intro h1,
.bitage_logo {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}

// Main Hero:
#home_intro {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	margin-top: 135px;
	text-align: center;
	color: #333;

	h1 {
		margin-bottom: 14px;
		font-size: em(128);
		color: #fff;
	}

	h2 { letter-spacing: 3px; }

	h2, h3 {
		font-weight: 300;
		font-size: em(20);
		line-height: em(24);
		color: #fff;
	}
}

// Hero signup form:
#fast_signup {
	position: relative;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	padding: 40px 20px 0 20px;

	h3 {
		margin-bottom: 30px;
		font-size: em(32);
		color: #eee;
	}
}

// Our Bitcoin Services hero:
#bitcoin_services {
	margin: 100px 0 60px 0;
	padding: 60px 0;
	width: 100%;
	text-align: center;
	background: #1c1e21;
	@include clearfix();

	h1 { margin-bottom: 40px; font-size: em(56); color: #fff; }
}

.service_blocks {
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
	width: 80%;
	@include clearfix();
	// flexbox
	display: flex;
	flex-direction: row;
}

.service_block {
	float: left;
	margin-right: 20px;
	padding: 20px;
	width: 310px;
	font-size: em(20);
	// flexbox
	justify-content: center;
	align-items: stretch;

	h2 { font-weight: 600; color: #eee; }

	p {
		font-size: em(12);
		line-height: em(24);
		margin: 10px 0 20px;
		color: lighten(#666, 30%);
	}
}

.key {
	width: 60px;
	height: 64px;
	background-position: 0 -80px;
}

.globe {
	width: 68px;
	height: 72px;
	background-position: 0 -160px;
}

.dashboard {
	width: 68px;
	height: 64px;
	background-position: 0 -240px;
}
