/* HOMEPAGE
====================================================
==================================================== */

#body_home,
#body_login {
	background-image: url("../img/mountains.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

// BITAGE LOGO
#home_intro h1,
.bitage_logo {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}

#home_intro {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	top: 15%;
	left: 0;
	right: 0;
	height: auto;
	text-align: center;
	color: #333;

	h1 { font-size: em(128); }

	h2, h3 {
		font-weight: 300;
		font-size: em(20);
		line-height: em(24);
	}
}

#fast_signup {
	position: relative;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	padding: 40px 20px 0 20px;

	h3 {
		margin-bottom: 40px;
		font-size: em(40);
		color: #eee;
	}
}
