/* HOMEPAGE
====================================================
==================================================== */

#body_id {
	background: $dgray;
	// background-image: url("../img/shapes.gif");
	background-image: url("../img/blue.gif");
	// background-image: url("../img/ocean.jpg");
	// background-image: url("../img/mountains.jpg");
	// background-size: cover;
	// background-position: center;
	// @include linear-gradient($dgray, $lgray);
}

// BitAge logo:
#home_intro h1,
.bitage_logo {
	// font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Droid Serif', serif;
	font-weight: 700;
	// font-style: italic;
}

#particle_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 640px;
	z-index: 1;
}

// Main Hero:
#home_intro {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	margin-top: 135px;
	text-align: center;
	color: #333;
	z-index: 3;

	h1 {
		margin-bottom: 24px;
		font-size: em(128);
		letter-spacing: -3px;
		color: #fff;
	}

	h2 { 
		// color: $buttonHover;
		color: #fff;
	}

	// h2 { letter-spacing: 3px; }

	h2, h3 {
		font-weight: 300;
		font-size: em(20);
		line-height: em(24);
		// color: #fff;
	}
}

// Hero signup form:
#fast_signup {
	position: relative;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	padding: 40px 20px 40px 20px;

	h3 {
		margin: 10px 0 40px;
		font-size: em(32);
		color: #eee;
		color: $buttonHover;
	}

	p {
		margin-top: 5px;
		font-size: em(12);
		color: $red;
	}
}

// Our Bitcoin Services hero:
#bitcoin_services,
#whatisbitcoin {
	// margin: 100px 0 60px 0;
	padding: 60px 0;
	width: 100%;
	text-align: center;
	background: #1c1e21;
	@include clearfix();

	h1 { margin-bottom: 40px; font-size: em(56); color: #fff; }
}

.service_blocks {
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
	width: 50%;
	@include clearfix();
	// flexbox
	display: flex;
	flex-direction: row;
}

.service_block {
	float: left;
	margin-right: 20px;
	padding: 20px;
	width: 310px;
	font-size: em(20);
	// flexbox
	justify-content: center;
	align-items: stretch;

	h2 { font-weight: 600; color: #eee; }

	p {
		font-size: em(12);
		line-height: em(24);
		margin: 10px 0 20px;
		color: lighten(#666, 30%);
	}
}

.key {
	width: 60px;
	height: 64px;
	background-position: 0 -80px;
}

.globe {
	width: 68px;
	height: 72px;
	background-position: 0 -160px;
}

.dashboard {
	width: 68px;
	height: 64px;
	background-position: 0 -240px;
}

#whatisbitcoin {
	margin-bottom: 60px;
	padding-bottom: 80px;
	border-top: 1px solid #333;

	h4 {
		margin: 40px 0 20px;
		color: lighten(#666, 10%);
	}

	p {
		margin: 0 auto 20px;
		max-width: 880px;
		width: 80%;
		font-size: em(20);
		line-height: em(28);
		text-align: left;
		color: lighten(#666, 30%);
	}

	a {
    	color: $buttonHover;
    	text-decoration: underline;

    	&:hover {
            color: lighten($buttonHover, 10%);
    		text-decoration: none;
    	}
    }
}

.bitcoin_video { margin-bottom: 40px; }
