/* HOMEPAGE
====================================================
==================================================== */

#body_home {
	background-image: url("../img/mountains.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

// BITAGE LOGO
#home_intro h1,
.bitage_logo {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}

.bitage_logo {
	a { color: #666; text-decoration: none; }
}

#home_intro {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	top: 15%;
	left: 0;
	right: 0;
	height: auto;
	text-align: center;
	color: #333;

	h1 {
		margin-bottom: 15px;
		font-size: em(128);
		color: white;
		text-shadow: 0 1px 0 #ccc,
		             0 2px 0 #c9c9c9,
		             0 3px 0 #bbb,
		             0 4px 0 #b9b9b9,
		             0 5px 0 #aaa,
		             0 6px 1px rgba(0,0,0,.1),
		             0 0 5px rgba(0,0,0,.1),
		             0 1px 3px rgba(0,0,0,.3),
		             0 3px 5px rgba(0,0,0,.2),
		             0 5px 10px rgba(0,0,0,.25),
		             0 10px 10px rgba(0,0,0,.2),
		             0 20px 20px rgba(0,0,0,.15);
	}

	h2, h3 {
		font-weight: 300;
		font-size: em(20);
		line-height: em(24);
	}
}

#fast_signup {
	position: relative;
	margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
	padding: 40px 20px 0 20px;

	h3 {
		margin-bottom: 30px;
		font-size: em(40);
		color: #eee;
	}
}
