/* SETTINGS & PROFILE
====================================================
==================================================== */

.profile_container { padding: 20px; }

.profile_avatar {
	display: block;
	margin-bottom: 40px;
	@include clearfix();

	p {
		float: left;
		font-size: em(11);
		line-height: 25px;
	}

	img {
		width: 180px;
		height: 180px;
	}
}

.image_upload_buttons {
	margin: 10px 0 20px 0;

	span { float: left; }
	.btn {
		margin-right: 10px;
		height: auto;
	}
}

.profile_details {
	width: 350px;
	@include clearfix();

	label {
		float: left;
		margin-right: 8px;
		width: 100px;
		@include clearfix();
	}
}

.field_set {
	margin-bottom: 8px;
	height: 40px;
	line-height: 40px;
}

.change_password {
	float: left;
	color: $buttonHover;
}

.profile_user_name { margin-top: 40px; }
